:root {
	--primary: #083359;
	--secondary: #024873;
	--tertiary: whitesmoke;
	--dark: ##062a40;
	--light: #5888a6;
	--shadow: #023759;
}

html body {
	font-family: 'Antonio', sans-serif;
	color: var(--tertiary) !important;
}

/* NAVBAR STYLES */

.navbar-dark {
	background-color: var(--primary) !important;
	filter: drop-shadow(3px 2px 15px #1a1a1a);
	z-index: 999;
}

.navbar-brand {
	/* font-family: 'Antonio', sans-serif; */
	font-weight: 200;
	font-size: 1.75rem;
	filter: drop-shadow(3px 2px 3px #121212);
}

.camel-A {
	font-size: 2.75rem;
}

nav ul li {
	text-transform: uppercase;
	/* font-family: 'Antonio', sans-serif; */
	font-weight: 300;
	font-size: 1.3rem;
    letter-spacing: 0.04rem;
	filter: drop-shadow(3px 2px 3px #121212);
}

a.nav-link:active,
a.nav-link:focus {
	border-bottom: 0.075rem solid var(--tertiary) !important;
}

.dropdown-menu {
	background: linear-gradient(
		0deg,
		#0248735d,
		#083359a8);
}

.dropdown-item {
	color: var(--tertiary) !important;
	filter: drop-shadow(0.25rem 0.188rem 0.25rem #1a1a1a);
}
/* HERO */

.hero {
	position: relative;
	background: linear-gradient(
			0deg,
			rgba(58, 65, 70, 0.16),
			rgba(46, 46, 75, 0.366)),
		url(../src/assets/img/codeBackgroung.jpeg);
	background-size: cover;
	background-position: center;
	height: 95vh;
}

.blur {
	background: #5888a66a;
	backdrop-filter: blur(4.5px);
	height: 95vh;
	width: 100%;
}

.heading {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 1;
	filter: drop-shadow(3px 2px 3px #121212);
}

h1{
    font-size: 3rem;
}

.typed-text {
	font-size: 1.5rem;
}

/* hero button */

.btn-main-offer {
	color: var(--tertiary);
	text-transform: uppercase;
	border-radius: 0;
	padding: 10px 12px 12px 12px;
}
