:root {
	--primary: #083359;
	--secondary: #024873;
	--tertiary: whitesmoke;
	--dark: #062a40;
	--light: #5888a6;
	--shadow: #023759;
}

html body {
	font-family: 'Antonio', sans-serif;
	color: var(--tertiary) !important;
	background-color: var(--primary);
}

h1 {
	font-size: 5.7rem;
	padding-bottom: 1rem;
	filter: drop-shadow(3px 2px 3px #121212);
}
h2 {
	font-size: 3rem;
	filter: drop-shadow(3px 2px 3px #121212);
}

h3 {
	filter: drop-shadow(3px 2px 3px #121212);
}

h4 {
	filter: drop-shadow(3px 2px 3px #000000);
}

p {
	font-size: 1.25rem;
	font-weight: 100;
	filter: drop-shadow(2px 2px 4px #121212);
}

b {
	color: var(--tertiary);
	filter: drop-shadow(3px 2px 3px #000000);
}
span{
	filter: drop-shadow(3px 2px 3px #000000);
}

/* NAVBAR STYLES */

.navbar-dark {
	background-color: var(--primary) !important;
	filter: drop-shadow(3px 2px 15px #1a1a1a);
	z-index: 999;
}

.navbar-brand {
	/* font-family: 'Antonio', sans-serif; */
	font-weight: 200;
	font-size: 1.75rem;
	filter: drop-shadow(3px 2px 3px #121212);
}

.camel-A {
	font-size: 2rem;
}

nav ul li {
	text-transform: uppercase;
	/* font-family: 'Antonio', sans-serif; */
	font-weight: 300;
	font-size: 1.3rem;
	letter-spacing: 0.2rem;
	filter: drop-shadow(3px 2px 3px #121212);
}

a.nav-link:active,
a.nav-link:focus {
	border-bottom: 0.075rem solid var(--tertiary) !important;
}

.dropdown-menu {
	background: linear-gradient(0deg, #0248735d, #083359a8);
}

.dropdown-item {
	color: var(--tertiary) !important;
	filter: drop-shadow(0.25rem 0.188rem 0.25rem #1a1a1a);
}

/* HERO */

.hero {
	position: relative;
	background: linear-gradient(
			0deg,
			rgba(58, 65, 70, 0.133),
			rgba(46, 46, 75, 0.332)
		),
		url(../src/assets/img/codeBackgroung.jpeg);
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.blur {
	background: #5888a64e;
	backdrop-filter: blur(2.5px);
	height: 100vh;
	width: 100%;
}

.heading {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 1;
	filter: drop-shadow(3px 2px 3px #121212);
}

.typed-text {
	font-size: 2rem;
	color: var(--tertiary) !important;
	filter: drop-shadow(3px 2px 3px #000000);
}

/* hero button ***************/

.btn-main-offer {
	background-color: var(--primary);
	color: var(--tertiary);
	text-transform: uppercase;
	font-size: 1.1rem;
	border-radius: 0;
	padding: 10px 12px 12px 12px;
	z-index: 3;
}

.btn-main-offer:hover {
	text-decoration: none;
}

/* ******* aboutMe Section******** */

.skills {
	text-align: center;
	padding-bottom: 2rem;
	background: var(--primary);
}

.skills .circle {
	position: relative;
	margin: 0.375rem auto;
	background: var(--light);
	border-radius: 50%;
	width: 3.125rem;
	height: 3.125rem;
	filter: drop-shadow(3px 2px 3px #000000);
}

.skills .icon {
	font-size: 2rem;
	color: var(--tertiary);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.skills .box {
	height: 8rem;
	/* border-bottom: 0.3125rem solid var(--light); */
	padding: 0.625rem;
	margin-bottom: 1.875rem;
	background: var(--primary);
	transition: 0.3s ease-in-out;
}

.skills .box:hover {
	background: var(--light);
}

.skills .box:hover .icon {
	color: var(--primary-dark);
}

.skills .box:hover .circle {
	background: var(--shadow);
}

/* ********MY WORK********** */

.myWork-wrapper {
	background-color: var(--light);
	padding: 3rem 0;
}

.project-image {
	width: 15rem;
	height: 100%;
	border: 1px solid var(--primary);
	padding: 0.5rem;
}

.project-img-box {
	position: relative;
	margin: 1rem;
}

.overflow {
	position: absolute;
	opacity: 0;
	background: var(--dark);
	width: 15rem;
	height: 100%;
	top: 0;
	border: 1px solid var(--secondary);
	cursor: pointer;
}

.project-img-box:hover .overflow {
	opacity: 60%;
	transition: 0.3s ease-in-out;
}

.project-icon {
	position: absolute;
	opacity: 0;
	margin-left: -8rem;
	margin-top: 3.6rem;
	font-size: 1.5rem;
	color: var(--tertiary);
	filter: drop-shadow(3px 2px 3px #000000);
}

.project-icon:hover {
	opacity: 70%;
	transition: 0.3s ease-in-out;
	cursor: pointer;
}

.project-image-popupbox {
	width: 45rem;
	padding: 0 0.5rem;
}

.popupbox-wrapper {
	margin-top: 7rem;
}

.popupbox-overlay {
	background: rgba(0, 0, 0, 0.215) !important
}

.popupbox-titleBar {
	background-color: var(--primary);
	margin-top: 0rem
}

.popupbox-content {
	background-color: var(--shadow);
}

.hyper-link {
	filter: drop-shadow(3px 2px 3px #000000);
	color: var(--tertiary);
}

.hyper-link:hover {
	color: var(--light);
}

/********** MEDIA Q ********/

@media (max-width: 768px) {
	.navbar-brand {
		/* font-family: 'Antonio', sans-serif; */
		font-weight: 100;
		margin: 0 !important;
		font-size: 1.75rem;
		filter: drop-shadow(3px 2px 3px #121212);
	}
}

/* Hero text */
@media (max-width: 768px) {
	.heading h1 {
		font-size: 2rem !important;
		padding: 0;
	}

	.heading h2 {
		font-size: 1.1rem !important;
	}
	.typed-text {
		font-size: 1.3rem !important;
	}
}

@media (max-width: 768px) {
	.project-image-popupbox {
		width: 100%;
	}
}

@media (max-height: 570px) {
	.popupbox-wrapper {
		height: 100%;
	}
	.project-image-popupbox {
		width: 50%;
	}
}

@media (max-height: 280px) {
	.popupbox-wrapper {
		height: 90%;
	}
	.project-image-popupbox {
		width: 30%;
	}
}
